/*
    Created on : Dec 29, 2014, 3:27:30 PM
    Author     : Spencer Palmer
*/

/*******************************************************************************/
/*******************************************************************************/
/*Imports, Font face, and Variables*********************************************/
/*******************************************************************************/
/*******************************************************************************/
@import 'normalize';

$contrast: #2ecc71;
$background: #ecf0f1;

/*******************************************************************************/
/*******************************************************************************/
/*Globals***********************************************************************/
/*******************************************************************************/
/*******************************************************************************/


*{
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 .site_container{
     background-color: $background;
 }
 .container{
   max-width: 1280px;
 }

/*Navigation styles*************************************************************/
 [role=navigation] {
   li{
     list-style-type: none;
   }
   a {
     text-text-decoration: none;
   }
 }
/*Images************************************************************************/
img{
     max-width: 100%;
     height: auto;
}


/*******************************************************************************/
/*******************************************************************************/
/*Page Layout*******************************************************************/
/*******************************************************************************/
/*******************************************************************************/

.site_container {
  display: flex;
  flex-direction: row;
  [role=banner]{
    order: 1;
  }
  [role=main] {
    order: 2;
  }
  [role=contentinfo]{
    order: 3;
  }
}


/*******************************************************************************/
/*******************************************************************************/
/*Page Structure****************************************************************/
/*******************************************************************************/
/*******************************************************************************/

/*Header styles*****************************************************************/
header[role=banner]{
     /*min-height: 246px;*/
     background-color: $contrast;
     color: white;
     h1{
       margin: 0;
     }
     svg{
     width: 200px;
     display: block;
     margin: 0 auto;
     fill: $background;
    }
 }

/*Main Navigation Styles********************************************************/

 .main_nav[role=navigation] {
   ul{
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     -webkit-align-items: center;
     align-items: center ;
     -webkit-justify-content: center;
     justify-content: center;
     padding: 0;
     margin: 0 auto;
   a{
     padding: 10px 7px 10px;

     margin: 8px 25px;
     /*padding: 1em;*/
     cursor: pointer;
     background: #f1f1f1;
     text-decoration: none;
     color: $contrast;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

     display: inline-block;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: background;
     transition-property: background;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     box-shadow: inset 0 0 0 4px #f1f1f1, 0 0 1px rgba(0, 0, 0, 0);
     /* Hack to improve aliasing on mobile/tablet devices */

     &:hover, &:focus, &:active {
       background: none;
       color: #fff;

     }
   }
   }
 }

/*******************************************************************************/
/*******************************************************************************/
/*Page Specific****************************************************************/
/*******************************************************************************/
/*******************************************************************************/

/*Home Page*********************************************************************/

/*Calendar App******************************************************************/
/* calendar */
table.calendar{
  border-left:1px solid #999;
  }
tr.calendar-row	{

}
td.calendar-day	{
  min-height:80px; font-size:11px; position:relative;
  }
* html div.calendar-day {
   height:80px;
   }
td.calendar-day:hover	{
  background:#eceff5;
  }
td.calendar-day-np	{
  background:#eee; min-height:80px;
  }
  * html div.calendar-day-np {
    height:80px;
    }
td.calendar-day-head {
  background:#ccc;
  font-weight:bold;
  text-align:center;
  width:120px;
  padding:5px;
  border-bottom:1px solid #999;
  border-top:1px solid #999;
  border-right:1px solid #999;
  }
div.day-number { background:#999;
  padding:5px;
  color:#fff;
  font-weight:bold;
  float:right;
  margin:-5px -5px 0 0;
  width:20px;
  text-align:center;
  }
/* shared */
td.calendar-day, td.calendar-day-np {
  width:120px;
  padding:5px;
  border-bottom:1px solid #999;
  border-right:1px solid #999;
  }

/*******************************************************************************/
/*******************************************************************************/
/*Responsiveness****************************************************************/
/*******************************************************************************/
/*******************************************************************************/

 /* Medium Screen Media Query (Tablets) */
 @media screen and (min-width: 481px){

 }
 /* Large Screen Media Query */
 @media screen and (min-width: 768px) {

 }
 /* Huge Screen Media Query */
 @media screen and (min-width: 1280px){

 }
